# Setup Prisma checkout this guide: https://supabase.com/partners/integrations/prisma
DATABASE_URL=XXXXXXXXX # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=XXXXXXXXX  # Set this to the Session connection pooler string you copied in Step 1

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXX